.codelite
*.phprj
*.workspace
vendor
app/cache/*
app/logs/*
public/images/*
public/js/cache/*
composer.lock
*.sqlite
*.db
*.sqlite3
docs/*
coverage/*
tests/test_data/sessions/*
build/coverage/*
build/logs/*
build/pdepend/*
build/phpdox/*
cache.properties