parameters:
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true
	level: 8
	paths:
		- app/appConf
		- src
		- ./console
		- index.php
	ignoreErrors:
		- '#Unable to resolve the template type T#'
		- '#imagepalletetotruecolor not found#'
		- '#Call to an undefined method Aura\\\Html\\\HelperLocator::[a-zA-Z0-9_]+\(\)#'
		- '#Call to an undefined method Query\\QueryBuilderInterface::[a-zA-Z0-9_]+\(\)#'
	excludePaths:
		- src/Ion/Type/Stringy.php
		- tests/mocks.php
		- vendor
	# These are objects that basically can return anything
	universalObjectCratesClasses:
		- Aviat\Ion\Friend
	tmpDir: tmp
