################################################################################
#                                 Anilist API                                  #
################################################################################
client_id = "your_client_id"
client_secret = "your_client_secret"
username = "user123"