################################################################################
#                                 Cache Setup                                  #
################################################################################

# See https://git.timshomepage.net/aviat/banker for more information

# Available drivers are apcu, memcache, memcached, redis or null
# Null cache driver means no caching
driver = "redis"

[connection]
# Host or socket to connect to
host = "127.0.0.1"

# Connection port
#port = 6379

# Connection password
#password = ""

# Database number
database = 2
