################################################################################
#                           Main User Configuration                            #
################################################################################

# Username for anime and manga lists
kitsu_username = "timw4mail"

# Whose list is it?
whose_list = "Tim"

# do you wish to show the anime collection?
show_anime_collection = true
