################################################################################
#                            Database Configuration                            #
################################################################################

type = "sqlite"
host = ""
user = ""
pass = ""
port = ""
database = ""
file = "anime_collection.sqlite3"
