################################################################################
#                            Database Configuration                            #
################################################################################

[collection]
type = "sqlite"
host = ""
user = ""
pass = ""
port = ""
name = "default"
database = ""
file = "/../../anime_collection.sqlite"