################################################################################
#                      My Anime LIst Integration Config                        #
################################################################################

username = "timw4mail"
password = "mysecretpassword"