################################################################################
#                         Redis Cache Configuration                            #
################################################################################

# Host or socket to connect to
host = "127.0.0.1"

# Connection port
#port = 6379

# Connection password
#password = ""

# Database number
database = 13